<ul class="flex flex-wrap flex-col justify-center md:flex-row" id="sponsors-list">
  <li>
    <a href="https://www.bluelighttapes.com/">
      <img src="{{ this.blueLightTapes }}" alt="Bluelight Tapes" />
    </a>
  </li>
  <li>
    <a href="http://www.dadschicago.com/">
      <img src="{{ this.dads }}" alt="DADS"/>
    </a>
  </li>
  <li>
    <a href="https://datafruits.fm/">
      <img src="{{ this.datafruits }}" alt="Datafruits"/>
    </a>
  </li>
  <li>
    <a href="https://shrimpshake.co/">
      <img src="{{ this.shrimpshake }}" alt="Shrimpshake" />
    </a>
  </li>
  <li>
    <a href="https://soundcloud.com/snailzone">
      <img src="{{ this.snailzone }}" alt="Snailzone"/>
    </a>
  </li>
</ul>