<ul class="flex flex-wrap flex-col justify-center md:flex-row" id="sponsors-list">
  <li>
    <a href="https://www.bluelighttapes.com/">
      <img src="{{ this.blueLightTapes }}" />
    </a>
  </li>
  <li>
    <a href="http://www.dadschicago.com/">
      <img src="{{ this.dads }}" />
    </a>
  </li>
  <li>
    <a href="https://datafruits.fm/">
      <img src="{{ this.datafruits }}" />
    </a>
  </li>
  <li>
    <a href="https://shrimpshake.co/">
      <img src="{{ this.shrimpshake }}" />
    </a>
  </li>
  <li>
    <a href="https://soundcloud.com/snailzone">
      <img src="{{ this.snailzone }}" />
    </a>
  </li>
</ul>